:root {
    --bg-main: #F3F3F3;
    --bg-main-alt: #f6f6f6;
    --bg-alt: white;
    --fg-main: #282828;
    --fg-alt: black;

    --c0: #025159;
    --c1: #03A696;
    --c2: #F28705;
    --c3: #F25D27;
    --c4: #F20505;
}